
@{
    ViewBag.Title = "Index";
}

<h2>upload data</h2>


<input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Importincl")'" value="upload insurances" />
<input type="button" class="btn btn-default" onclick="window.location.href = '@Url.Action("Importbankdetails")'" value="upload bankdetails" />